@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Nunito", sans-serif;
  --cor-primaria: #f3fa33;
  --cor-sidebar: #686d76;
  --cor-secundaria: #2e9b4c;
  --cor-auxiliar: #f90203;
  --cor-background: #fbfbfb;
  --cor-textos: #212121;
}

@keyframes crescerModal {
  0% {
    transform: scale(0) rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotateX(0deg);
    opacity: 1;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  z-index: 9999; /* Mantém sempre acima do header */
}

.modal-container:target {
  display: flex;
}

[class^="janela-custom-"] {
  z-index: 99999; /* Mantém a janela acima de tudo */
  position: relative; /* Necessário para z-index funcionar corretamente */
}

.janela-custom-guarana {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Guarana-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-jubaina {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Jubaina-2L-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-maca {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Maçã-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
    inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
    0 0 80px rgba(200, 40, 40, 0.9);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-black-cola {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Black-cola-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 20px rgba(200, 120, 70, 0.9),
    inset 0 0 50px rgba(163, 102, 60, 0.7), 0 0 80px rgba(200, 120, 70, 1),
    0 0 120px rgba(180, 90, 40, 0.9), 0 0 160px rgba(150, 70, 30, 0.8);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-laranja {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Laranja-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 140, 40, 0.8),
    inset 0 0 60px rgba(255, 120, 30, 0.6), 0 0 40px rgba(255, 100, 20, 1),
    0 0 80px rgba(255, 90, 0, 0.9), 0 0 120px rgba(255, 80, 0, 1);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-abacaxi {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Abacaxi-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-uva {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Uva-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(200, 100, 255, 0.8),
    inset 0 0 60px rgba(180, 80, 255, 0.6), 0 0 40px rgba(180, 80, 255, 1),
    0 0 80px rgba(150, 60, 240, 0.9), 0 0 120px rgba(120, 40, 220, 1);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-limao {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Limão-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(80, 255, 80, 0.8),
    inset 0 0 60px rgba(80, 255, 80, 0.6), 0 0 40px rgba(80, 255, 80, 1),
    0 0 80px rgba(60, 240, 60, 0.9), 0 0 120px rgba(40, 220, 40, 1);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-guarana-1l {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Guarana-1L-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-jubaina-1l {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Jubaina-1L-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-guarana-600ml {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Guarana-600ml-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-jubaina-600ml {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Jubaina-600ml-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-maca-600ml {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Maçã-600ml-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
    inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
    0 0 80px rgba(200, 40, 40, 0.9);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-guarana-250ml {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Guarana-250ml-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-jubaina-250ml {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Jubaina-250ml-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
    inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
    0 0 80px rgba(255, 180, 0, 0.9);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-maca-250ml {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Maçã-250ml-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
    inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
    0 0 80px rgba(200, 40, 40, 0.9);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-laranja-250ml {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Laranja-250ml-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 30px rgba(255, 140, 40, 0.8),
    inset 0 0 60px rgba(255, 120, 30, 0.6), 0 0 40px rgba(255, 100, 20, 1),
    0 0 80px rgba(255, 90, 0, 0.9), 0 0 120px rgba(255, 80, 0, 1);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-black-cola-250ml {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Black-cola-250ml-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 20px rgba(200, 120, 70, 0.9),
    inset 0 0 50px rgba(163, 102, 60, 0.7), 0 0 80px rgba(200, 120, 70, 1),
    0 0 120px rgba(180, 90, 40, 0.9), 0 0 160px rgba(150, 70, 30, 0.8);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-agua-com-gas {
  width: 100vw;
  max-width: 1400px;
  height: 100vw;
  max-height: 750px;
  background-image: url(./img/Agua-com-gas-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.9),
    inset 0 0 50px rgba(200, 230, 255, 0.6), 0 0 80px rgba(230, 245, 255, 0.8),
    0 0 120px rgba(180, 220, 255, 0.6), 0 0 160px rgba(160, 210, 255, 0.5);
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: center;
  animation: crescerModal 0.7s ease-out;
}

.janela-custom-agua-com-gas span {
  position: absolute;
  bottom: -100px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
  opacity: 0;
  animation-fill-mode: forwards;
}

.janela-custom-guarana span {
  position: absolute;
  bottom: -100px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
  opacity: 0;
  animation-fill-mode: forwards;
}

.janela-custom-jubaina span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
  opacity: 0;
  animation-fill-mode: forwards;
}

.janela-custom-maca span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-black-cola span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-laranja span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-abacaxi span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-uva span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-limao span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: floatUp infinite linear;
}

.janela-custom-guarana-1l span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-jubaina-1l span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-guarana-250ml span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-jubaina-250ml span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-maca-250ml span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-laranja-250ml span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

.janela-custom-black-cola-250ml span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  animation: float infinite linear;
}

[class^="janela-custom-"] span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 35px);
  margin: 0;
  width: 70px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  border-radius: 50%;


  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2) 20%,
    rgba(200, 200, 255, 0.1) 60%,
    rgba(150, 150, 255, 0.1) 80%
  );

  /* Múltiplas sombras para profundidade e brilho */
  box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.9),
    inset -5px -5px 10px rgba(100, 100, 150, 0.4),
    2px 2px 8px rgba(0, 0, 50, 0.2), 0 0 15px rgba(255, 255, 255, 0.4);
  transform-style: preserve-3d;
  transform-origin: center;
  animation: float infinite linear;
  opacity: 0;
  animation-fill-mode: forwards;
}

[class^="janela-custom-"] span::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 20%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.9),
    transparent 70%
  );
  filter: blur(3px);
  pointer-events: none;
  z-index: 2;
}

#modal-guarana,
#modal-jubaina,
#modal-maca,
#modal-black-cola,
#modal-laranja,
#modal-abacaxi,
#modal-uva,
#modal-limao,
#modal-guarana-1l,
#modal-jubaina-1l,
#modal-guarana-600ml,
#modal-jubaina-600ml,
#modal-maca-600ml,
#modal-guarana-250ml,
#modal-jubaina-250ml,
#modal-maca-250ml,
#modal-laranja-250ml,
#modal-black-cola-250ml,
#modal-agua-com-gas {
  overflow: hidden;
  height: 100vh;
}

[id^="modal-"] span {
  position: absolute;
  bottom: -50px;
  display: block;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  opacity: 0;
  animation: floatUp linear infinite;
  animation-fill-mode: forwards;
  z-index: 0;
}

/* Bolhas */
#modal-limao span {
  position: absolute;
  bottom: -50px;
  display: block;
  border-radius: 50%;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -3px -3px 10px rgba(255, 255, 255, 0.7);
  opacity: 0;
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  z-index: 0;
}

/* Cada bolha com tamanho e duração diferente e posição horizontal distinta */
[id^="modal-"] span:nth-child(1) {
  width: 40px;
  left: 5%;
  animation-duration: 6s;
  animation-delay: 0.3s;
}
[id^="modal-"] span:nth-child(2) {
  width: 70px;
  left: 18%;
  animation-duration: 7.3s;
  animation-delay: 1.1s;
}
[id^="modal-"] span:nth-child(3) {
  width: 30px;
  left: 12%;
  animation-duration: 5.5s;
  animation-delay: 0.7s;
}
[id^="modal-"] span:nth-child(4) {
  width: 50px;
  left: 25%;
  animation-duration: 6.8s;
  animation-delay: 0.5s;
}
[id^="modal-"] span:nth-child(5) {
  width: 60px;
  left: 35%;
  animation-duration: 8s;
  animation-delay: 1.8s;
}
[id^="modal-"] span:nth-child(6) {
  width: 20px;
  left: 45%;
  animation-duration: 5s;
  animation-delay: 0.9s;
}
[id^="modal-"] span:nth-child(7) {
  width: 75px;
  left: 55%;
  animation-duration: 7.7s;
  animation-delay: 2.3s;
}
[id^="modal-"] span:nth-child(8) {
  width: 30px;
  left: 65%;
  animation-duration: 6.2s;
  animation-delay: 0.4s;
}
[id^="modal-"] span:nth-child(9) {
  width: 40px;
  left: 75%;
  animation-duration: 6.5s;
  animation-delay: 1.2s;
}
[id^="modal-"] span:nth-child(10) {
  width: 50px;
  left: 85%;
  animation-duration: 8.4s;
  animation-delay: 2.1s;
}

[id^="modal-"] span:nth-child(11) {
  width: 20px;
  left: 15%;
  animation-duration: 5.2s;
  animation-delay: 0.6s;
}
[id^="modal-"] span:nth-child(12) {
  width: 60px;
  left: 28%;
  animation-duration: 7.1s;
  animation-delay: 1.5s;
}
[id^="modal-"] span:nth-child(13) {
  width: 35px;
  left: 22%;
  animation-duration: 5.9s;
  animation-delay: 0.8s;
}
[id^="modal-"] span:nth-child(14) {
  width: 25px;
  left: 33%;
  animation-duration: 6.3s;
  animation-delay: 0.2s;
}
[id^="modal-"] span:nth-child(15) {
  width: 80px;
  left: 43%;
  animation-duration: 9s;
  animation-delay: 2.5s;
}
[id^="modal-"] span:nth-child(16) {
  width: 45px;
  left: 53%;
  animation-duration: 5.8s;
  animation-delay: 0.9s;
}
[id^="modal-"] span:nth-child(17) {
  width: 10px;
  left: 63%;
  animation-duration: 6.9s;
  animation-delay: 0.3s;
}
[id^="modal-"] span:nth-child(18) {
  width: 55px;
  left: 73%;
  animation-duration: 7.4s;
  animation-delay: 1.6s;
}
[id^="modal-"] span:nth-child(19) {
  width: 65px;
  left: 83%;
  animation-duration: 6s;
  animation-delay: 0.7s;
}
[id^="modal-"] span:nth-child(20) {
  width: 30px;
  left: 95%;
  animation-duration: 5.3s;
  animation-delay: 0.5s;
}

[id^="modal-"] span:nth-child(21) {
  width: 50px;
  left: 7%;
  animation-duration: 7.8s;
  animation-delay: 1.9s;
}
[id^="modal-"] span:nth-child(22) {
  width: 45px;
  left: 17%;
  animation-duration: 6.7s;
  animation-delay: 1.2s;
}
[id^="modal-"] span:nth-child(23) {
  width: 20px;
  left: 29%;
  animation-duration: 6.4s;
  animation-delay: 0.4s;
}
[id^="modal-"] span:nth-child(24) {
  width: 60px;
  left: 38%;
  animation-duration: 8.2s;
  animation-delay: 2s;
}
[id^="modal-"] span:nth-child(25) {
  width: 35px;
  left: 48%;
  animation-duration: 5.6s;
  animation-delay: 0.3s;
}
[id^="modal-"] span:nth-child(26) {
  width: 25px;
  left: 58%;
  animation-duration: 6.6s;
  animation-delay: 0.8s;
}
[id^="modal-"] span:nth-child(27) {
  width: 70px;
  left: 68%;
  animation-duration: 7.9s;
  animation-delay: 2.2s;
}
[id^="modal-"] span:nth-child(28) {
  width: 40px;
  left: 78%;
  animation-duration: 5.7s;
  animation-delay: 0.7s;
}
[id^="modal-"] span:nth-child(29) {
  width: 30px;
  left: 88%;
  animation-duration: 7.6s;
  animation-delay: 1.4s;
}
[id^="modal-"] span:nth-child(30) {
  width: 15px;
  left: 98%;
  animation-duration: 6.1s;
  animation-delay: 0.5s;
}

[id^="modal-"] span:nth-child(31) {
  width: 22px;
  left: 3%;
  animation-duration: 5.9s;
  animation-delay: 0.6s;
}
[id^="modal-"] span:nth-child(32) {
  width: 48px;
  left: 11%;
  animation-duration: 7.2s;
  animation-delay: 1.1s;
}
[id^="modal-"] span:nth-child(33) {
  width: 34px;
  left: 19%;
  animation-duration: 6.3s;
  animation-delay: 0.7s;
}
[id^="modal-"] span:nth-child(34) {
  width: 60px;
  left: 27%;
  animation-duration: 7.8s;
  animation-delay: 1.8s;
}
[id^="modal-"] span:nth-child(35) {
  width: 38px;
  left: 31%;
  animation-duration: 5.4s;
  animation-delay: 0.2s;
}
[id^="modal-"] span:nth-child(36) {
  width: 55px;
  left: 39%;
  animation-duration: 6.7s;
  animation-delay: 0.9s;
}
[id^="modal-"] span:nth-child(37) {
  width: 18px;
  left: 47%;
  animation-duration: 6.1s;
  animation-delay: 0.3s;
}
[id^="modal-"] span:nth-child(38) {
  width: 72px;
  left: 52%;
  animation-duration: 8.6s;
  animation-delay: 2.4s;
}
[id^="modal-"] span:nth-child(39) {
  width: 26px;
  left: 59%;
  animation-duration: 5.2s;
  animation-delay: 0.6s;
}
[id^="modal-"] span:nth-child(40) {
  width: 36px;
  left: 66%;
  animation-duration: 7.4s;
  animation-delay: 1.7s;
}

[id^="modal-"] span:nth-child(41) {
  width: 42px;
  left: 71%;
  animation-duration: 6.9s;
  animation-delay: 1s;
}
[id^="modal-"] span:nth-child(42) {
  width: 58px;
  left: 76%;
  animation-duration: 7.1s;
  animation-delay: 1.3s;
}
[id^="modal-"] span:nth-child(43) {
  width: 12px;
  left: 82%;
  animation-duration: 5.3s;
  animation-delay: 0.3s;
}
[id^="modal-"] span:nth-child(44) {
  width: 64px;
  left: 87%;
  animation-duration: 8.1s;
  animation-delay: 2.1s;
}
[id^="modal-"] span:nth-child(45) {
  width: 24px;
  left: 91%;
  animation-duration: 5.5s;
  animation-delay: 0.5s;
}
[id^="modal-"] span:nth-child(46) {
  width: 50px;
  left: 96%;
  animation-duration: 6.8s;
  animation-delay: 1.6s;
}
[id^="modal-"] span:nth-child(47) {
  width: 32px;
  left: 13%;
  animation-duration: 6.5s;
  animation-delay: 0.8s;
}
[id^="modal-"] span:nth-child(48) {
  width: 68px;
  left: 23%;
  animation-duration: 8.5s;
  animation-delay: 2.3s;
}
[id^="modal-"] span:nth-child(49) {
  width: 28px;
  left: 36%;
  animation-duration: 6.6s;
  animation-delay: 1.5s;
}
[id^="modal-"] span:nth-child(50) {
  width: 20px;
  left: 44%;
  animation-duration: 5.1s;
  animation-delay: 0.4s;
}

.modal-info {
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  gap: 10px;
  margin-left: 100px;
}

.modal-info img {
  margin-bottom: 25px;
  width: 73%;
  box-shadow: 1px 1px 0 #999, 2px 2px 0 #777, 3px 3px 0 #555, 4px 4px 0 #333,
    5px 5px 10px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(2deg);
}

.modal-info h2 {
  z-index: 10000;
  text-align: center;
  font-size: 4.5rem;
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 2px 2px 0 #777, 3px 3px 0 #555, 4px 4px 0 #333,
    5px 5px 10px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(5deg);
}

.modal-info p {
  max-width: 750px;
  z-index: 10000;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 2px 2px 0 #777, 3px 3px 0 #555, 4px 4px 0 #333,
    5px 5px 10px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(5deg); 
}

.modal-info-250ml {
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  gap: 10px;
  margin-left: 100px;
}

.modal-info-250ml img {
  margin-bottom: 25px;
  width: 80%;
  box-shadow: 1px 1px 0 #999, 2px 2px 0 #777, 3px 3px 0 #555, 4px 4px 0 #333,
    5px 5px 10px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(2deg);
}

.modal-info-250ml h2 {
  z-index: 10000;
  text-align: center;
  font-size: 4.5rem;
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 2px 2px 0 #777, 3px 3px 0 #555, 4px 4px 0 #333,
    5px 5px 10px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(5deg);
}

.modal-info-250ml p {
  max-width: 750px;
  z-index: 10000;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 2px 2px 0 #777, 3px 3px 0 #555, 4px 4px 0 #333,
    5px 5px 10px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(5deg);
}

.fechar-modal {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 60px;
  text-decoration: none;
  color: var(--cor-background);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.fechar-modal:hover {
  transform: scale(1.2);
}

.fechar-modal-agua {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 60px;
  text-decoration: none;
  color: var(--cor-auxiliar);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.fechar-modal-agua:hover {
  transform: scale(1.2);
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-800px);
    opacity: 0;
  }
}

/* Para Tablets e Telas Menores (até 1024px) */
@media (max-width: 1024px) {
  .janela-custom-guarana {
    background-image: url(./img/Guarana-design.png),
      radial-gradient(circle at center, #f3fa33, #b8860b);
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-guarana-1l {
    background-image: url(./img/Guarana-1l-design.png),
      radial-gradient(circle, #ffff66 15%, #ffc300 50%, #b8860b 90%);
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-guarana-600ml {
    background-image: url(./img/Guarana-600ml-design.png),
      radial-gradient(circle, #ffff66 15%, #ffc300 50%, #b8860b 90%);
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-guarana-250ml {
    background-image: url(./img/Guarana-250ml-design.png),
      radial-gradient(circle, #ffff66 15%, #ffc300 50%, #b8860b 90%);
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-jubaina {
    background-image: url(./img/Jubaina-2L-design.png),
      radial-gradient(
        circle,
        #ffff00 0%,
        #ffd700 20%,
        #daa520 40%,
        #b8860b 60%,
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-jubaina-1l {
    background-image: url(./img/Jubaina-1L-design.png),
      radial-gradient(
        circle,
        #ffff00 0%,
        #ffd700 20%,
        #daa520 40%,
        #b8860b 60%,
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-jubaina-600ml {
    background-image: url(./img/Jubaina-600ml-design.png),
      radial-gradient(
        circle,
        #ffff00 0%,
        #ffd700 20%,
        #daa520 40%,
        #b8860b 60%,
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-jubaina-250ml {
    background-image: url(./img/Jubaina-250ml-design.png),
      radial-gradient(
        circle,
        #ffff00 0%,
        #ffd700 20%,
        #daa520 40%,
        #b8860b 60%,
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-maca {
    background-image: url(./img/Maçã-design.png),
      radial-gradient(
        circle,
        #ff8080 5%,
        #ff6666 25%,
        #ff4d4d 45%,
        #ff3333 65%,
        #ff1a1a 85%,
        #cc0000 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
      inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
      0 0 80px rgba(200, 40, 40, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-maca-600ml {
    background-image: url(./img/Maçã-600ml-design.png),
      radial-gradient(
        circle,
        #ff8080 5%,
        #ff6666 25%,
        #ff4d4d 45%,
        #ff3333 65%,
        #ff1a1a 85%,
        #cc0000 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
      inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
      0 0 80px rgba(200, 40, 40, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-maca-250ml {
    background-image: url(./img/Maçã-250ml-design.png),
      radial-gradient(
        circle,
        #ff8080 5%,
        #ff6666 25%,
        #ff4d4d 45%,
        #ff3333 65%,
        #ff1a1a 85%,
        #cc0000 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
      inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
      0 0 80px rgba(200, 40, 40, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-laranja {
    background-image: url(./img/Laranja-design.png),
      radial-gradient(
        circle,
        #ffa500 15%,
        #ff8c00 35%,
        #ff6f00 55%,
        #e65a00 75%,
        #d94c00 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 140, 40, 0.8),
      inset 0 0 60px rgba(255, 120, 30, 0.6), 0 0 40px rgba(255, 100, 20, 1),
      0 0 80px rgba(255, 90, 0, 0.9), 0 0 120px rgba(255, 80, 0, 1);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-laranja-250ml {
    background-image: url(./img/Laranja-250ml-design.png),
      radial-gradient(
        circle,
        #ffa500 15%,
        #ff8c00 35%,
        #ff6f00 55%,
        #e65a00 75%,
        #d94c00 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 140, 40, 0.8),
      inset 0 0 60px rgba(255, 120, 30, 0.6), 0 0 40px rgba(255, 100, 20, 1),
      0 0 80px rgba(255, 90, 0, 0.9), 0 0 120px rgba(255, 80, 0, 1);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-black-cola {
    background-image: url(./img/Black-cola-design.png),
      radial-gradient(
        circle,
        #f40009 15%,
        #b90014 35%,
        #800020 55%,
        #400010 75%,
        #000000 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 20px rgba(200, 120, 70, 0.9),
      inset 0 0 50px rgba(163, 102, 60, 0.7), 0 0 80px rgba(200, 120, 70, 1),
      0 0 120px rgba(180, 90, 40, 0.9), 0 0 160px rgba(150, 70, 30, 0.8);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-black-cola-250ml {
    background-image: url(./img/Black-cola-250ml-design.png),
      radial-gradient(
        circle,
        #f40009 15%,
        #b90014 35%,
        #800020 55%,
        #400010 75%,
        #000000 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 20px rgba(200, 120, 70, 0.9),
      inset 0 0 50px rgba(163, 102, 60, 0.7), 0 0 80px rgba(200, 120, 70, 1),
      0 0 120px rgba(180, 90, 40, 0.9), 0 0 160px rgba(150, 70, 30, 0.8);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-abacaxi {
    background-image: url(./img/Abacaxi-design.png),
      radial-gradient(
        circle,
        #ffff00 75%,
        #bfff00 85%,
        #80ff00 95%,
        #66ff00 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-uva {
    background-image: url(./img/Uva-design.png),
      radial-gradient(
        circle,
        #d48fff 5%,
        #c488f2 25%,
        #a960e5 45%,
        #8e38d8 65%,
        #7310cb 85%,
        #6a0dad 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(200, 100, 255, 0.8),
      inset 0 0 60px rgba(180, 80, 255, 0.6), 0 0 40px rgba(180, 80, 255, 1),
      0 0 80px rgba(150, 60, 240, 0.9), 0 0 120px rgba(120, 40, 220, 1);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-limao {
    background-image: url(./img/Limão-design.png),
      radial-gradient(
        circle,
        #a8f5a2 15%,
        #69dd83 35%,
        #00c853 55%,
        #00962a 75%,
        #006400 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(80, 255, 80, 0.8),
      inset 0 0 60px rgba(80, 255, 80, 0.6), 0 0 40px rgba(80, 255, 80, 1),
      0 0 80px rgba(60, 240, 60, 0.9), 0 0 120px rgba(40, 220, 40, 1);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-agua-com-gas {
    background-image: url(./img/Agua-com-gás.png),
      radial-gradient(circle, #ffffff 15%, #e0e0e0 50%, #b0c4de 90%);
    background-size: contain;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.9),
      inset 0 0 50px rgba(200, 230, 255, 0.6), 0 0 80px rgba(230, 245, 255, 0.8),
      0 0 120px rgba(180, 220, 255, 0.6), 0 0 160px rgba(160, 210, 255, 0.5);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .modal-info,
  .modal-info-250ml {
    max-width: 600px;
    margin-left: 50px;
  }

  .modal-info h2,
  .modal-info-250ml h2 {
    font-size: 3.5rem;
  }

  .modal-info p,
  .modal-info-250ml p {
    font-size: 1.1rem;
  }
}

/* Para Celulares (até 768px) */
@media (max-width: 768px) {
  
  .janela-custom-guarana {
    background-image: url(./img/Guarana-design.png),
      radial-gradient(circle at center, #f3fa33, #b8860b);
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-guarana-1l {
    background-image: url(./img/Guarana-1l-design.png),
      radial-gradient(circle, #ffff66 15%, #ffc300 50%, #b8860b 90%);
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-guarana-600ml {
    background-image: url(./img/Guarana-600ml-design.png),
      radial-gradient(circle, #ffff66 15%, #ffc300 50%, #b8860b 90%);
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-guarana-250ml {
    background-image: url(./img/Guarana-250ml-design.png),
      radial-gradient(circle, #ffff66 15%, #ffc300 50%, #b8860b 90%);
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-jubaina {
    background-image: url(./img/Jubaina-2L-design.png),
      radial-gradient(
        circle,
        #ffff00 0%,
        #ffd700 20%,
        #daa520 40%,
        #b8860b 60%,
        #3b2b0b 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-jubaina-1l {
    background-image: url(./img/Jubaina-1L-design.png),
      radial-gradient(
        circle,
        #ffff00 0%,
        #ffd700 20%,
        #daa520 40%,
        #b8860b 60%,
        #3b2b0b 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-jubaina-600ml {
    background-image: url(./img/Jubaina-600ml-design.png),
      radial-gradient(
        circle,
        #ffff00 0%,
        #ffd700 20%,
        #daa520 40%,
        #b8860b 60%,
        #3b2b0b 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-jubaina-250ml {
    background-image: url(./img/Jubaina-250ml-design.png),
      radial-gradient(
        circle,
        #ffff00 0%,
        #ffd700 20%,
        #daa520 40%,
        #b8860b 60%,
        #3b2b0b 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-maca {
    background-image: url(./img/Maçã-design.png),
      radial-gradient(
        circle,
        #ff8080 5%,
        #ff6666 25%,
        #ff4d4d 45%,
        #ff3333 65%,
        #ff1a1a 85%,
        #cc0000 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
      inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
      0 0 80px rgba(200, 40, 40, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-maca-600ml {
    background-image: url(./img/Maçã-600ml-design.png),
      radial-gradient(
        circle,
        #ff8080 5%,
        #ff6666 25%,
        #ff4d4d 45%,
        #ff3333 65%,
        #ff1a1a 85%,
        #cc0000 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
      inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
      0 0 80px rgba(200, 40, 40, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-maca-250ml {
    background-image: url(./img/Maçã-250ml-design.png),
      radial-gradient(
        circle,
        #ff8080 5%,
        #ff6666 25%,
        #ff4d4d 45%,
        #ff3333 65%,
        #ff1a1a 85%,
        #cc0000 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 80, 80, 0.8),
      inset 0 0 60px rgba(255, 50, 50, 0.6), 0 0 40px rgba(255, 50, 50, 1),
      0 0 80px rgba(200, 40, 40, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-laranja {
    background-image: url(./img/Laranja-design.png),
      radial-gradient(
        circle,
        #ffa500 15%,
        #ff8c00 35%,
        #ff6f00 55%,
        #e65a00 75%,
        #d94c00 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 140, 40, 0.8),
      inset 0 0 60px rgba(255, 120, 30, 0.6), 0 0 40px rgba(255, 100, 20, 1),
      0 0 80px rgba(255, 90, 0, 0.9), 0 0 120px rgba(255, 80, 0, 1);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-laranja-250ml {
    background-image: url(./img/Laranja-250ml-design.png),
      radial-gradient(
        circle,
        #ffa500 15%,
        #ff8c00 35%,
        #ff6f00 55%,
        #e65a00 75%,
        #d94c00 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 140, 40, 0.8),
      inset 0 0 60px rgba(255, 120, 30, 0.6), 0 0 40px rgba(255, 100, 20, 1),
      0 0 80px rgba(255, 90, 0, 0.9), 0 0 120px rgba(255, 80, 0, 1);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-black-cola {
    background-image: url(./img/Black-cola-design.png),
      radial-gradient(
        circle,
        #f40009 15%,
        #b90014 35%,
        #800020 55%,
        #400010 75%,
        #000000 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 20px rgba(200, 120, 70, 0.9),
      inset 0 0 50px rgba(163, 102, 60, 0.7), 0 0 80px rgba(200, 120, 70, 1),
      0 0 120px rgba(180, 90, 40, 0.9), 0 0 160px rgba(150, 70, 30, 0.8);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-black-cola-250ml {
    background-image: url(./img/Black-cola-250ml-design.png),
      radial-gradient(
        circle,
        #f40009 15%,
        #b90014 35%,
        #800020 55%,
        #400010 75%,
        #000000 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 20px rgba(200, 120, 70, 0.9),
      inset 0 0 50px rgba(163, 102, 60, 0.7), 0 0 80px rgba(200, 120, 70, 1),
      0 0 120px rgba(180, 90, 40, 0.9), 0 0 160px rgba(150, 70, 30, 0.8);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-abacaxi {
    background-image: url(./img/Abacaxi-design.png),
      radial-gradient(
        circle,
        #ffff00 75%,
        #bfff00 85%,
        #80ff00 95%,
        #66ff00 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(255, 220, 50, 0.8),
      inset 0 0 60px rgba(255, 200, 0, 0.6), 0 0 40px rgba(255, 200, 0, 1),
      0 0 80px rgba(255, 180, 0, 0.9);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-uva {
    background-image: url(./img/Uva-design.png),
      radial-gradient(
        circle,
        #d48fff 5%,
        #c488f2 25%,
        #a960e5 45%,
        #8e38d8 65%,
        #7310cb 85%,
        #6a0dad 100%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(200, 100, 255, 0.8),
      inset 0 0 60px rgba(180, 80, 255, 0.6), 0 0 40px rgba(180, 80, 255, 1),
      0 0 80px rgba(150, 60, 240, 0.9), 0 0 120px rgba(120, 40, 220, 1);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-limao {
    background-image: url(./img/Limão-design.png),
      radial-gradient(
        circle,
        #a8f5a2 15%,
        #69dd83 35%,
        #00c853 55%,
        #00962a 75%,
        #006400 90%
      );
    background-size: contain;
    box-shadow: inset 0 0 30px rgba(80, 255, 80, 0.8),
      inset 0 0 60px rgba(80, 255, 80, 0.6), 0 0 40px rgba(80, 255, 80, 1),
      0 0 80px rgba(60, 240, 60, 0.9), 0 0 120px rgba(40, 220, 40, 1);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .janela-custom-agua-com-gas {
    background-image: url(./img/Agua-com-gás.png),
      radial-gradient(circle, #ffffff 15%, #e0e0e0 50%, #b0c4de 90%);
    background-size: contain;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.9),
      inset 0 0 50px rgba(200, 230, 255, 0.6), 0 0 80px rgba(230, 245, 255, 0.8),
      0 0 120px rgba(180, 220, 255, 0.6), 0 0 160px rgba(160, 210, 255, 0.5);
    width: 90vw;
    max-width: 600px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .modal-info,
  .modal-info-250ml {
    width: 100%;
    max-width: 100%;
    text-align: center;
    line-height: 1.5;
    gap: 15px;
  }

  .modal-info img,
  .modal-info-250ml img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  }

  .modal-info h2,
  .modal-info-250ml h2 {
    font-size: 2.4rem;
  }

  .modal-info p,
  .modal-info-250ml p {
    font-size: 1rem;
    padding: 0 10px;
  }

  .fechar-modal,
  .fechar-modal-agua {
    top: 10px;
    right: 15px;
    font-size: 40px;
  }
}

@media (max-width: 369px) {

  .modal-info,
  .modal-info-250ml {
    width: 100%;
    max-width: 100%;
    text-align: center;
    line-height: 1.5;
    gap: 5px;
  }

  .modal-info img,
  .modal-info-250ml img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  }

  .modal-info h2,
  .modal-info-250ml h2 {
    font-size: 1.5rem;
  }

  .modal-info p,
  .modal-info-250ml p {
    font-size: 1rem;
    padding: 0 10px;
  }

  .fechar-modal,
  .fechar-modal-agua {
    top: 10px;
    right: 15px;
    font-size: 40px;
  }

}