@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Nunito", sans-serif;
  --cor-primaria: #f3fa33;
  --cor-sidebar: #686d76;
  --cor-secundaria: #2e9b4c;
  --cor-auxiliar: #f90203;
  --cor-background: #fbfbfb;
  --cor-textos: #212121;
}

/* Estilização barra lateral */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--cor-sidebar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #373a40;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: var(--fonte-principal);
  color: var(--cor-textos);
  overflow-x: hidden;
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

body::before {
  background: var(--gradiente-1);
}

body::after {
  background: var(--gradiente-2);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

body.fade-out-after::after {
  opacity: 0;
}

body.home-page::before {
  background-image: url(./img/Background-grid.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.home-page::after {
  background: transparent;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  z-index: 9999;
  background-image: url(./img/banner-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: 900;
  width: 100%;
  box-shadow: 0 0 8px 2px rgba(243, 250, 51, 1),
    0 0 20px 8px rgba(243, 250, 51, 0.9), 0 0 40px 16px rgba(243, 250, 51, 0.6),
    0 0 80px 32px rgba(243, 250, 51, 0.35),
    0 0 120px 48px rgba(243, 250, 51, 0.15);
}

/* Logo fixada à esquerda */
.logo-header {
  max-width: 230px;
  margin-left: 25px;
}

/* Menu centralizado */
.nav-menu {
  flex: 2;
  display: flex;
  justify-content: center;
  margin-right: 15rem;
}

/* Lista horizontal do menu */
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 70px;
  padding: 0;
  margin: 0;
}

/* Efeitos do menu */
@keyframes underline-grow-center {
  from {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  to {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
}

.nav-menu .menu a {
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  text-decoration: none;
  color: var(--cor-auxiliar);
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.nav-menu .menu a:hover {
  color: var(--cor-secundaria);
  transform: scale(1.1);
  animation: bounce 0.3s ease-in;
  text-decoration: none;
}

.nav-menu .menu a:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  background-color: var(--cor-secundaria);
  width: 0;
  left: 40%;
  transform: translateX(-50%);
  animation: underline-grow-center 0.3s ease-in forwards;
}

#carrossel-banners {
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.banner-item {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  position: absolute; /* Para sobrepor os banners */
  top: 0;
  left: 0;
}

.banner-item.active {
  opacity: 1;
  pointer-events: auto;
}

.banner-item img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
  z-index: 10;
}

.banner-dot {
  width: 50px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-dot:hover {
  background-color: var(--cor-secundaria);
  border: 2px solid var(--cor-textos);
}

.banner-dot.active {
  background-color: var(--cor-primaria);
  border: 2px solid var(--cor-textos);
  transform: scale(1.1);
}

section h1 {
  font-family: var(--fonte-principal);
  margin-top: 35px;
  font-size: 2rem;
  color: var(--cor-textos);
}

section p {
  font-family: var(--fonte-secundaria);
  margin-bottom: 15px;
  font-size: 1rem;
  color: var(--cor-textos);
}

.section-historia {
  box-shadow: inset 0 0 8px 2px rgba(243, 250, 51, 1),
    inset 0 0 20px 8px rgba(243, 250, 51, 0.9),
    0 0 8px 2px rgba(243, 250, 51, 1), 0 0 20px 8px rgba(243, 250, 51, 0.9),
    0 0 40px 16px rgba(243, 250, 51, 0.6),
    0 0 80px 32px rgba(243, 250, 51, 0.35),
    0 0 120px 48px rgba(243, 250, 51, 0.15);
  transform: perspective(500px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem;
  flex-wrap: wrap;
}

.section-historia > div:first-child {
  flex: 1 1 500px;
  max-width: 40%;
  padding: 40px;
  background: var(--cor-background);
  border-radius: 60px;
  box-shadow: inset 0 0 12px rgba(255, 255, 0, 0.8),
    0 0 24px rgba(255, 255, 0, 0.9), 0 0 48px rgba(255, 255, 0, 1),
    0 20px 60px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  z-index: 2;
}

.section-historia h2 {
  text-align: center;
  font-family: var(--fonte-principal);
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.section-historia p {
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: justify;
  color: var(--cor-textos);
  font-family: var(--fonte-secundaria);
}

.Imagem-nossa-historia {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Imagem-nossa-historia img {
  max-width: 1350px;
  height: auto;
  border-radius: 12px;
  filter: drop-shadow(0 0 6px rgba(255, 255, 0, 0.8))
    drop-shadow(0 0 12px rgba(255, 255, 0, 0.9))
    drop-shadow(0 10px 30px rgba(0, 0, 0, 1));
}

.section-valores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 2rem;
  align-items: stretch;
}

.blocos-home,
.blocos-home-valores,
.blocos-home-visao {
  position: relative;
  z-index: 1;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo */
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 60px;
  box-shadow: inset 0 0 12px rgba(255, 255, 0, 0.8),
    0 0 24px rgba(255, 255, 0, 0.9), 0 0 48px rgba(255, 255, 0, 1),
    0 20px 60px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 60px;
  box-shadow: inset 0 0 12px rgba(255, 255, 0, 0.8),
    0 0 24px rgba(255, 255, 0, 0.9), 0 0 48px rgba(255, 255, 0, 1),
    0 20px 60px rgba(0, 0, 0, 0.5);
  min-height: 280px; /* IMPORTANTE: define altura para alinhar visualmente */
}

/* Título no topo */
.blocos-home h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.blocos-home-valores h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.blocos-home-visao h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.bloco-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.blocos-home p {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--cor-textos);
}

.blocos-home-visao p {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--cor-textos);
}

.blocos-home-valores p {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--cor-textos);
}

.section-premios {
  padding: 60px 20px;
  text-align: center;
}

.section-premios h2 {
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.titulo-premios {
  font-size: 3rem;
  margin-bottom: 100px;
  color: var(--cor-textos);
}

.premios-container {
  font-family: var(--fonte-principal);
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.premio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin-top: 30px;
  font-size: 1.3rem;
}

.premio-item-ouro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin-top: 0px;
  font-size: 1.6rem;
}

.premio-item h3 {
  color: var(--cor-textos);
}

.premio-item-ouro h3 {
  color: var(--cor-textos);
}

.imagem-premios {
  width: 230px;
  height: auto;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 6px rgba(255, 255, 0, 0.8))
    drop-shadow(0 0 12px rgba(255, 255, 0, 0.9))
    drop-shadow(0 10px 30px rgba(0, 0, 0, 1));
}

.imagem-premios-bronze {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 12px rgba(255, 255, 255, 0.9))
    drop-shadow(0 10px 30px rgba(0, 0, 0, 1));
}

.section-instagram {
  font-size: 1.2rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: translateY 0.3s ease, box-shadow 0.3s ease;
}

.container-botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.container-botoes button i {
  color: var(--cor-background);
}

.section-instagram button {
  gap: 10px;
  font-size: 1.2rem;
  width: 220px;
  height: 60px;
  border-radius: 15px;
  border: 20px solid var(--cor-textos);
  background: radial-gradient(circle, #57c574, #2e9b4c);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(1deg);
  border: 2px solid var(--cor-textos);
  color: var(--cor-background);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}

.section-instagram button:hover {
  transform: translateY(6px);
  border-color: var(--cor-primaria);
  box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.6),
    inset 0 0 20px rgba(255, 255, 0, 0.4), 0 0 10px rgba(255, 255, 0, 0.7),
    0 0 30px rgba(255, 215, 0, 0.5);
  cursor: pointer;
}

.section-instagram i {
  font-size: 2rem;
  margin-right: 3px;
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.texto-socials {
  font-size: 2rem;
  color: var(--cor-secundaria);
}

.texto-socials i {
  font-size: 3rem;
  gap: 10px;
}

.texto-socials h2 {
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 40px;
  max-width: 1750px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  position: relative;
}

.grid-produtos .produto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 20px;
  border-radius: 10px;
}

.grid-produtos .imagem-container {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.grid-produtos .imagem-container:hover {
  transform: scale(1.07);
}

.grid-produtos .imagem-produto {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.grid-produtos .produto-item p {
  color: var(--cor-background);
  user-select: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--fonte-secundaria);
  margin-top: auto;
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px);
}

.carrossel-container {
  position: relative;
  width: 30%;
  margin: 50px auto;
  overflow: hidden;
  font-size: 1.1rem;
}

.carrossel-container .grid-produtos-demonstration {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.carrossel-container .grid-produtos-demonstration::-webkit-scrollbar {
  display: none; /* Chrome, Safari, etc. */
}

.carrossel-container .produto-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carrossel-container p {
  color: var(--cor-background);
  margin-top: auto;
  font-size: 2.7rem;
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.carrossel-container .imagem-produto {
  max-width: 100%;
  max-height: 500px;
  transition: transform 0.3s ease-in-out;
}

.carrossel-container .imagem-produto:hover {
  transform: scale(1.1);
}

.seta-carrossel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--cor-background);
  color: var(--cor-textos);
  border: none;
  border-radius: 20%;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 0 #999, 2px 2px 0 #777, 3px 3px 0 #555, 4px 4px 0 #333,
    5px 5px 10px rgba(0, 0, 0, 2);
  transform: perspective(500px);
}

.seta-carrossel:hover {
  transform: translateY(-10%) scale(1.1);
}

.seta-carrossel.anterior {
  left: 20px;
}

.seta-carrossel.proximo {
  right: 20px;
}

.section-produtos {
  background-color: radial-gradient(
    circle,
    #ffffff 15%,
    #dddddd 50%,
    #aaaaaa 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.section-produtos-lista {
  background-image: url(./img/Background-grid.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.section-produtos-lista h1 {
  margin-top: 70px;
  color: var(--cor-background);
  font-size: 3rem;
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.section-produtos-lista img {
  max-height: 400px;
}

.section-produtos h1 {
  margin-top: 70px;
  color: var(--cor-background);
  font-size: 3rem;
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  transform: perspective(500px) rotateX(3deg);
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(./img/Background-grid.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* tom escuro com transparência */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 40px;
  box-shadow: inset 0 0 8px rgba(243, 250, 51, 0.5),
    inset 0 0 16px rgba(243, 250, 51, 0.7), 0 0 16px rgba(243, 250, 51, 0.6),
    0 0 32px rgba(243, 250, 51, 0.8), 0 4px 20px rgba(0, 0, 0, 0.3);
}

.contact-left-title h2 {
  font-family: var(--fonte-principal);
  font-weight: 600;
  color: var(--cor-textos);
  font-size: 3rem;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 100%;
  height: 5px;
  background-color: var(--cor-primaria);
  box-shadow: inset 0 0 8px rgba(243, 250, 51, 0.5),
    inset 0 0 16px rgba(243, 250, 51, 0.7), 0 0 16px rgba(243, 250, 51, 0.6),
    0 0 32px rgba(243, 250, 51, 0.8);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  font-family: var(--fonte-secundaria);
  font-size: 1.3rem;
  width: 700px;
  height: 50px;
  border: 3px solid var(--cor-primaria);
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: var(--cor-sidebar);
  border-radius: 50px;
  background-color: var(--cor-background);
}

.contact-left textarea {
  height: 200px;
  padding-top: 15px;
  border-radius: 20px;
  border: 3px solid var(--cor-primaria);
  background-color: var(--cor-background);
}

.contact-inputs:focus {
  border: 4px solid var(--cor-secundaria);
}

.contact-inputs::placeholder {
  color: var(--cor-textos);
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--cor-background);
  gap: 10px;
  border: 2px solid var(--cor-textos);
  border-radius: 50px;
  background: radial-gradient(circle, #57c574, #2e9b4c);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 2);
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}

.contact-left button:hover {
  transform: translateY(6px);
  border-color: var(--cor-primaria);
  box-shadow: inset 0 0 5px rgba(255, 255, 0, 0.4),
    inset 0 0 10px rgba(255, 255, 0, 0.3), 0 0 10px rgba(255, 255, 0, 0.7),
    0 0 30px rgba(255, 215, 0, 0.5);
  cursor: pointer;
}

.contact-left button i {
  font-size: 2rem;
}

.contact-right img {
  width: 700px;
  height: 700px;
}

.intro {
  background-image: url(./img/Linha-producao.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  padding: 100px;
  text-align: center;
  box-shadow: inset 0 0 8px 2px rgba(243, 250, 51, 0.7),
    inset 0 0 20px 8px rgba(243, 250, 51, 0.4),
    0 0 8px 2px rgba(243, 250, 51, 1), 0 0 20px 8px rgba(243, 250, 51, 0.9),
    0 0 40px 16px rgba(243, 250, 51, 0.6),
    0 0 80px 32px rgba(243, 250, 51, 0.35),
    0 0 120px 48px rgba(243, 250, 51, 0.15);
  transform: perspective(500px);
}

.intro h2 {
  font-size: 4rem;
  max-width: 1250px;
  padding: 5px;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
}

.intro p {
  margin-top: 40px;
  gap: 25px;
  font-size: 1.7rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: var(--cor-background);
}

.intro button {
  margin-top: 40px;
  font-size: 1.7rem;
  font-family: var(--fonte-principal);
  background: radial-gradient(circle, #57c574, #2e9b4c);
  color: var(--cor-background);
  border: 2px solid var(--cor-textos);
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}

.intro button i {
  margin-left: 15px;
  font-size: 2rem;
}

.intro button:hover {
  transform: translateY(-6px);
  border-color: var(--cor-primaria);
  box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.6),
    inset 0 0 20px rgba(255, 255, 0, 0.4), 0 0 10px rgba(255, 255, 0, 0.7),
    0 0 30px rgba(255, 215, 0, 0.5);
  cursor: pointer;
}

.co-packer-page {
  background: transparent;
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: radial-gradient(
    circle,
    #ffffff 0%,
    #ffffff 50%,
    #fffbea 75%,
    #fff4b8 88%,
    #ffeb7f 92%,
    #ffe55c 96%,
    #ffdd33 100%
  );

  box-shadow: inset 0 0 8px 2px rgba(243, 250, 51, 1),
    inset 0 0 20px 8px rgba(243, 250, 51, 0.9),
    0 0 8px 2px rgba(243, 250, 51, 1), 0 0 20px 8px rgba(243, 250, 51, 0.9),
    0 0 40px 16px rgba(243, 250, 51, 0.6),
    0 0 80px 32px rgba(243, 250, 51, 0.35),
    0 0 120px 48px rgba(243, 250, 51, 0.15);
  transform: perspective(500px);
}

.services h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--cor-secundaria);
  margin-top: 50px;
}

.services h2 {
  font-size: 3rem;
  text-align: center;
  color: var(--cor-secundaria);
  margin-top: 50px;
}

.services p {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 850px;
  padding: 30px;
  text-align: center;
}

.co-packer-exp {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.co-packer-exp img {
  min-height: 320px;
}

.polaroid {
  background: var(--cor-background);
  border: 3px solid var(--cor-primaria);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(243, 250, 51, 0.6), 0 0 16px rgba(243, 250, 51, 0.5),
    inset 0 0 6px rgba(243, 250, 51, 0.4), 0 8px 24px rgba(0, 0, 0, 0.7);
  padding: 10px;
  position: relative;
  width: 450px;
  min-height: fit-content;
  transition: transform 0.3s;
}

.polaroid img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.polaroid h2 {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--cor-secundaria); 
}

.polaroid p {
  text-align: left;
}

.polaroid hr {
  border: none;
  width: 100%;
  height: 5px;
  background-color: var(--cor-primaria);
  box-shadow: inset 0 0 8px rgba(243, 250, 51, 0.5),
    inset 0 0 16px rgba(243, 250, 51, 0.7), 0 0 16px rgba(243, 250, 51, 0.6),
    0 0 32px rgba(243, 250, 51, 0.8);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.vantagens {
  padding: 40px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.texto-vantagens h2 {
  font-family: var(--fonte-principal);
  font-size: 3.5em;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  margin-bottom: 20px;
}

.texto-vantagens p {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem; /* Tamanho da fonte do parágrafo */
  color: var(--cor-textos);
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; /* Cor do texto */
  line-height: 2; /* Altura da linha */
}

.vantagens-beneficios {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 60px;
  line-height: 1.5;
}

.vantagens-item {
  background-color: #fff;
  border: 3px solid var(--cor-primaria);
  border-radius: 15px;
  padding: 20px;
  width: 23%;
  height: auto;
  text-align: center;
  box-shadow: 0 0 8px rgba(243, 250, 51, 0.6), 0 0 16px rgba(243, 250, 51, 0.5),
    inset 0 0 6px rgba(243, 250, 51, 0.4), 0 8px 24px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s;
}

.vantagens-item h3 {
  font-size: 1.4em;
  color: var(--cor-textos);
  margin-top: 10px;
}

.vantagens-item p {
  font-size: 1.2em;
  color: var(--cor-sidebar);
  margin-top: 10px;
}

.vantagens-item i {
  font-size: 2.5rem;
  color: var(--cor-secundaria);
}

.section-tipos-envases {
  background-image: url(./img/Fundo-branco-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 4rem;
}

.section-tipos-envases h4 {
  font-family: var(--fonte-principal);
  margin-top: 20px;
  font-size: 3rem;
  color: var(--cor-textos);
}

.section-tipos-envases::after {
  content: "";
  display: block;
  clear: both;
}

.section-producao {
  padding: 5rem;
  text-align: center;
}

.section-producao i {
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  color: var(--cor-textos);
}

.section-producao h2 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color: var(--cor-textos);
}

.section-tipos-producao {
  padding: 5rem;
  text-align: center;
}

.section-tipos-producao h2 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  color: var(--cor-textos);
}

.blocos-processo {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  font-size: 1.4rem;
  justify-content: center;
}

.bloco {
  width: 250px;
  height: 120px;
  background: radial-gradient(
    circle,
    #a8f5a2 15%,
    #69dd83 35%,
    #00c853 55%,
    #00962a 75%,
    #006400 90%
  );
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 2px #27bd0d, 0 0 5px #27bd0d, 0 0 10px #27bd0d,
    0 0 20px #27bd0d;
  padding: 1rem;
  cursor: default;
}

.linha-envases {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30rem;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding: 30px;
}

.envase-container {
  position: relative;
  width: 400px;
  height: 400px;
  text-align: center;
}

.envase-container i {
  font-size: 4.3rem;
  margin: 30px;
  margin-top: 50px;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
}

.setas {
  display: flex;
  justify-content: center;
  margin-top: -80px; /* ou ajuste para colar mais do PET */
}

.envase-pet {
  font-size: 1.5rem;
  width: 180px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: radial-gradient(
    circle,
    #a8f5a2 15%,
    #69dd83 35%,
    #00c853 55%,
    #00962a 75%,
    #006400 90%
  );
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 2px #27bd0d, 0 0 5px #27bd0d, 0 0 10px #27bd0d,
    0 0 20px #27bd0d;
  cursor: default;
}

.envase-laterais {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}

.envase-bopp,
.envase-sleeve {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: relative; /* tiramos o absolute */
  cursor: default;
  transition: transform 0.3s;
}

.envase-bopp h3,
.envase-sleeve h3 {
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  font-size: 1.9rem;
}

.envase-bopp img,
.envase-sleeve img {
  width: 100%;
  height: auto;
  margin-top: 70px;
  filter: drop-shadow(0 0 6px rgba(255, 255, 0, 0.5))
    drop-shadow(0 0 12px rgba(255, 255, 0, 0.6))
    drop-shadow(0 10px 30px rgba(0, 0, 0, 0.6));
}

/* Bloco Vidro */
.envase-vidro {
  width: 200px;
  text-align: center;
}

.envase-vidro i {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  font-size: 4rem;
}

.vidro-topo {
  font-size: 1.5rem;
  width: 180px;
  height: 150px;
  margin: 0 auto;
  background: radial-gradient(
    circle,
    #a8f5a2 15%,
    #69dd83 35%,
    #00c853 55%,
    #00962a 75%,
    #006400 90%
  );
  color: var(--cor-background);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 2px #27bd0d, 0 0 5px #27bd0d, 0 0 10px #27bd0d,
    0 0 20px #27bd0d;
  cursor: default;
}

.vidro-baixo {
  font-size: 1.7rem;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  cursor: default;
  transition: transform 0.3s;
}

.vidro-baixo h3 {
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
  font-size: 1.9rem;
}

.vidro-baixo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 0 6px rgba(255, 255, 0, 0.6))
    drop-shadow(0 0 12px rgba(255, 255, 0, 0.7))
    drop-shadow(0 10px 30px rgba(0, 0, 0, 0.6));
  transition: transform 0.3s;
}

.linha-separadora {
  width: 95%;
  margin: 4rem auto;
  height: 1px;
  border: none;
  border-radius: 60%;
  background: #ff0000;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000,
    0 0 40px #ff0000;
}

.section-localizacao {
  text-align: center;
  background: radial-gradient(
    circle,
    #ffffff 0%,
    #ffffff 50%,
    #fffbea 75%,
    #fff4b8 88%,
    #ffeb7f 92%,
    #ffe55c 96%,
    #ffdd33 100%
  );
  box-shadow: inset 0 0 8px 2px rgba(243, 250, 51, 1),
    inset 0 0 20px 8px rgba(243, 250, 51, 0.9),
    0 0 8px 2px rgba(243, 250, 51, 1), 0 0 20px 8px rgba(243, 250, 51, 0.9),
    0 0 40px 16px rgba(243, 250, 51, 0.6),
    0 0 80px 32px rgba(243, 250, 51, 0.35),
    0 0 120px 48px rgba(243, 250, 51, 0.15);
  transform: perspective(500px);
}

.section-localizacao h2 {
  padding: 5rem;
  font-size: 2.5rem;
  color: var(--cor-primaria);
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #777, 2px 2px 0 #555, 3px 3px 0 #333,
    2px 2px 5px rgba(0, 0, 0, 2);
}

.bloco-localizacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.imagem-localizacao img {
  max-width: 1200px;
  height: auto;
  width: 100%;
}

.texto-localizacao {
  background-color: var(--cor-background);
  box-shadow: 0 0 16px rgba(243, 250, 51, 0.5),
    inset 0 0 6px rgba(243, 250, 51, 0.4), 0 8px 24px rgba(0, 0, 0, 1);
  padding: 1.5rem;
  border-radius: 20px;
  cursor: default;
  max-width: 500px;
  text-align: left;
}

.texto-localizacao h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 550;
  line-height: 2;
}

.icone-point {
  font-size: 2rem;
  color: var(--cor-secundaria);
}

.site-footer {
  background-image: url(./img/banner-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 20px;
  color: var(--cor-textos);
  font-family: var(--fonte-secundaria);
  box-shadow: inset 0 0 8px 2px rgba(243, 250, 51, 0.9),
    inset 0 0 20px 8px rgba(243, 250, 51, 0.6),
    0 0 8px 2px rgba(243, 250, 51, 1), 0 0 20px 8px rgba(243, 250, 51, 0.9),
    0 0 40px 16px rgba(243, 250, 51, 0.6),
    0 0 80px 32px rgba(243, 250, 51, 0.35),
    0 0 120px 48px rgba(243, 250, 51, 0.15);
  transform: perspective(500px);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 20px 0;
}

.footer-institucional,
.footer-endereco,
.footer-redes-sociais {
  flex: 1;
  max-width: 400px;
  min-width: 200px;
}

.footer-section {
  text-align: left;
}

.footer-section h4 {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--cor-auxiliar);
}

.footer-section ul {
  list-style: none;
  padding: 0;
  font-weight: 600;
}

.footer-section ul li a {
  text-decoration: none;
  color: var(--cor-secundaria);
  line-height: 2;
  font-size: 1rem;
  font-weight: 700;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section address {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

.footer-bottom {
  text-decoration: none;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.logo-footer {
  max-width: 220px;
  height: auto;
}

.copyright-text {
  font-size: 1.1rem;
  color: var(--cor-secundaria);
}

.referencia-text {
  font-size: 1rem;
  color: var(--cor-secundaria);
}

.address-link,
.address-link:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.address-link:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icon {
  font-size: 2rem;
  color: var(--cor-secundaria);
}

.social-icon:hover {
  transform: scale(1.13);
}

/* ========== RESPONSIVO ========== */
@media (max-width: 1400px) {
  #carrossel-banners {
    position: relative;
    width: 100vw;
    height: 64vh;
    overflow: hidden;
  }

  .nav-menu {
    margin-right: 5rem;
  }

  .grid-produtos {
    grid-template-columns: repeat(4, 1fr);
  }

  .contact-inputs {
    width: 100%;
  }

  .section-historia {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow-x: hidden;
  }

  .section-historia > div:first-child {
    max-width: 100%;
    padding: 20px;
  }

  .Imagem-nossa-historia {
    max-width: 100%;
    padding: 30px;
  }

  .Imagem-nossa-historia img {
    width: 100%;
    max-width: 750px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }
  
  .co-packer-exp {
    gap: 30px;
    width: 90vw;
  }

  .vantagens-beneficios {
    gap: 30px;
    width: 90vw;
  }

  .vantagens-item {
    max-height: 500px;
  }

  .vantagens-item p {

  }
}

@media (max-width: 1200px) {
  #carrossel-banners {
    position: relative;
    width: 100vw;
    height: 54vh;
    overflow: hidden;
  }

  .section-historia {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .section-historia > div:first-child,
  .Imagem-nossa-historia {
    max-width: 100%;
    padding: 20px;
  }

  .grid-produtos {
    grid-template-columns: repeat(3, 1fr);
  }

  .linha-envases {
    gap: 15rem;
  }

  .contact-container {
    flex-direction: column;
    gap: 40px;
  }

  .contact-right img {
    width: 100%;
    height: auto;
  }

  .co-packer-exp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }

  .bloco-localizacao {
    flex-direction: column;
  }

  .imagem-localizacao img {
    width: 100%;
  }

  .premio-item img,
  .premio-item-ouro img {
    max-width: 150px;
  }

  .premio-item h3,
  .premio-item-ouro h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1036px) {
  .section-producao i {
    display: none;
  }
}

@media (max-width: 992px) {
  #carrossel-banners {
    position: relative;
    width: 100vw;
    height: 45vh;
    overflow: hidden;
  }

  .nav-menu ul {
    gap: 40px;
  }

  .nav-menu .menu a {
    font-size: 1.3rem;
  }

  .logo-header {
    max-width: 180px;
  }

  .grid-produtos {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-valores {
    flex-direction: column;
    gap: 2rem;
  }

  .blocos-home,
  .blocos-home-valores,
  .blocos-home-visao {
    width: 100%;
    min-height: auto;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-institucional,
  .footer-endereco,
  .footer-redes-sociais {
    max-width: 100%;
    text-align: center;
    max-width: 10vw;
  }

  .section-instagram {
    height: auto;
    padding: 40px 20px;
  }

  .premios-container {
    gap: 3rem;
  }

  .premio-item h3,
  .premio-item-ouro h3 {
    font-size: 1.1rem;
  }

  .premio-item img,
  .premio-item-ouro img {
    max-width: 120px;
  }

  .container-botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
  }

  .carrossel-container {
    width: 95%;
  }

  .seta-carrossel {
    width: 35px;
    height: 35px;
  }

  .seta-carrossel.anterior {
    left: 15rem;
  }

  .seta-carrossel.proximo {
    right: 15rem;
  }
}

@media (max-width: 786px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .logo-header {
    max-width: 150px;
    margin: 0;
  }

  .nav-menu {
    width: 100%;
    justify-content: center;
  }

  .nav-menu ul {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin-left: 5rem;
  }

  .nav-menu .menu a {
    font-size: 1.2rem;
  }

  .section-historia {
    padding: 2rem 1rem;
  }

  #carrossel-banners {
    position: relative;
    width: 100vw;
    height: 36vh;
    overflow: hidden;
  }

  .banner-item {
    max-height: none;
  }

  .banners-home {
    padding-bottom: 0;
  }

  .banner-dots {
    margin-top: 16px;
  }

  .banner-item img {
    object-fit: contain;
  }

  .section-valores,
  .vantagens-beneficios,
  .linha-envases {
    flex-direction: column;
    margin-top: 10rem;
    align-items: center;
  }

  .envase-container {
    width: 90%;
    height: auto;
    gap: 2.5rem;
  }

  .envase-bopp,
  .envase-sleeve {
    width: 40%;
  }

  .envase-vidro {
    margin-top: 3rem; /* Aumente se ainda estiver grudado */
  }

  .vidro-topo {
    width: 90%;
  }

  .intro h2 {
    font-size: 2.5rem;
  }

  .intro p {
    font-size: 1.3rem;
  }

  .grid-produtos {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .grid-produtos-demonstration p {
    margin-top: 1.5rem;
  }

  .section-produtos {
    text-align: center;
  }

  .section-produtos-lista {
    text-align: center;
  }

  .seta-carrossel {
    width: 35px;
    height: 35px;
  }

  

  .carrossel-container {
    width: 95%;
  }

  .footer-section h4 {
    font-size: 1.6rem;
  }

  .footer-section ul li a {
    font-size: 1.3rem;
  }

  .contact-left {
    width: 100%;
    padding: 20px;
  }

  .contact-inputs {
    width: 100%;
  }

  .premios-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .premio-item,
  .premio-item-ouro {
    max-width: 90%;
    text-align: center;
  }

  .premio-item img,
  .premio-item-ouro img {
    max-width: 130px;
  }

  .premio-item h3,
  .premio-item-ouro h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  #carrossel-banners {
    position: relative;
    width: 100vw;
    height:26vh;
    overflow: hidden;
  }

  .logo-header {
    max-width: 150px;
  }

  .nav-menu .menu a {
    font-size: 0.8rem;
  }

  .nav-menu .menu {
    gap: 10px;
  }

  .grid-produtos {
    padding: 10px;
    gap: 20px;
  }

  .intro {
    padding: 60px 20px;
    height: auto;
  }

  .intro h2 {
    font-size: 2rem;
  }

  .intro p {
    font-size: 1.1rem;
  }

  .texto-vantagens h2 {
    font-size: 2.2rem;
  }

  .texto-vantagens p {
    font-size: 1.1rem;
  }

  .banner-dot {
    width: 25px;
    height: 8px;
  }

  .section-tipos-envases {
    padding: 0;
  }

  .section-tipos-envases h2 {
    width: 350px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bloco {
    width: 70%;
  }


  .envase-pet {
    width: 70%;
    font-size: 2rem;
  }
  .vidro-topo {
    width: 90%;
    font-size: 1.6rem;
  }

  .vidro-baixo h3 {
    font-size: 1.5rem;
  }

  .footer-content {
    gap: 2rem;
  }

  .footer-section h4 {
    font-size: 1.4rem;
  }

  .copyright-text,
  .referencia-text {
    font-size: 0.9rem;
  }

  .section-instagram button {
    width: 110%;
    font-size: 1rem;
  }

  .section-instagram button i {
    font-size: 1.5rem;
  }

  /* PRÊMIOS EM COLUNA */
  .premios-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .premio-item,
  .premio-item-ouro {
    max-width: 90%;
    text-align: center;
  }

  .premio-item img,
  .premio-item-ouro img {
    max-width: 120px;
  }

  .premio-item h3,
  .premio-item-ouro h3 {
    font-size: 1.1rem;
  }

  .seta-carrossel {
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }

  .seta-carrossel.anterior {
    left: 2rem;
  }

  .seta-carrossel.proximo {
    right: 2.5rem;
  }

  .carrossel-container {
    width: 85%;
  }

  .polaroid img {
    width: 100%;
    height: auto;
  }

  .vantagens-item {
    width: 20rem;
  }

  .vantagens-item h3 {
    font-size: 1.3em;
    color: var(--cor-textos);
    margin-top: 10px;
  }

  .vantagens-item p {
    font-size: 1.1em;
    color: var(--cor-sidebar);
    margin-top: 10px;
  }

  .vantagens-item i {
    font-size: 2.2rem;
    color: var(--cor-secundaria);
  }

  .bloco {
    font-size: 1rem;
  }

  .bloco-localizacao {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .texto-localizacao h4 {
    font-size: 1rem;
  }

  .contact-left {
    padding: 5rem;
    height: 700px;
    margin-top: auto;
  }

  .contact-left button {
    width: 100%;
    max-width: 500px;
    font-size: 1.1rem;
  }

  .contact-left button i {
    display: none;
  }

  .contact-left h2 {
    font-size: 2rem;
  }

  .contact-inputs::placeholder {
    font-size: 0.8rem;
  }

  .contact-left {
    width: 100%;
    max-width: 390px;
  }

  .contact-right img {
    display: none;
  }
}

@media (max-width: 400px) {
  .polaroid {
    width: 90vw;
  }

  .section-produtos h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 369px) {
  #carrossel-banners {
    position: relative;
    width: 100vw;
    height:26vh;
    overflow: hidden;
  }

  .logo-header {
    max-width: 150px;
  }

  .nav-menu .menu a {
    font-size: 0.6rem;
  }

  .nav-menu .menu {
    gap: 25px;
  }

  .section-historia > div:first-child {
    max-width: 90%;
  }

  .section-historia h2 {
    font-size: 2rem;
  }

  .section-historia p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
  }

  .Imagem-nossa-historia {
    display: none;
  }

  .grid-produtos {
    padding: 10px;
    gap: 20px;
  }

  .intro {
    padding: 60px 20px;
    height: auto;
  }

  .intro h2 {
    font-size: 2rem;
  }

  .intro p {
    font-size: 1.1rem;
  }

  .texto-vantagens h2 {
    font-size: 2.2rem;
  }

  .texto-vantagens p {
    font-size: 1.1rem;
  }

  .banner-dot {
    width: 25px;
    height: 8px;
  }

  .section-envase h4 {
    font-size: 2.3rem;
  }

  .section-tipos-envases {
    padding: 0;
    margin-left: auto;
  }

  .section-tipos-envases h2 {
    width: 200px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bloco {
    width: 85%;
  }
  

  .envase-pet {
    width: 70%;
    font-size: 2rem;
  }
  .vidro-topo {
    width: 90%;
    font-size: 1.6rem;
  }

  .vidro-baixo h3 {
    font-size: 1.5rem;
  }

  .footer-content {
    gap: 2rem;
  }

  .footer-section h4 {
    font-size: 1.4rem;
  }

  .copyright-text,
  .referencia-text {
    font-size: 0.9rem;
  }

  .section-instagram h2 {
    font-size: 2rem;
  }

  .section-instagram button {
    width: 115%;
    font-size: 1rem;
  }

  .section-instagram button i {
    font-size: 1.5rem;
  }

  /* PRÊMIOS EM COLUNA */
  .premios-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .titulo-premios {
    font-size: 2rem;
  }

  .premio-item,
  .premio-item-ouro {
    max-width: 90%;
    text-align: center;
  }

  .premio-item img,
  .premio-item-ouro img {
    max-width: 120px;
  }

  .premio-item h3,
  .premio-item-ouro h3 {
    font-size: 1.1rem;
  }

  .seta-carrossel {
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }

  .seta-carrossel.anterior {
    left: 2rem;
  }

  .seta-carrossel.proximo {
    right: 2rem;
  }

  .carrossel-container {
    width: 85%;
  }

  .polaroid {
    width: 90vw;
  }

  .polaroid img {
    width: 100%;
    height: 100%;
    max-height: 100px;
  }

  .polaroid h2 {
    font-size: 1.5rem;
  }

  .polaroid p {
    font-size: 1.2rem;
  }

  .services h1 {
    font-size: 2.6rem;
  }

  .services p {
    font-size: 1.3rem;
    max-width: 500px;
  }

  .vantagens-item h3 {
    font-size: 1.3em;
    color: var(--cor-textos);
    margin-top: 10px;
  }

  .vantagens-item p {
    font-size: 1.1em;
    color: var(--cor-sidebar);
    margin-top: 10px;
  }

  .vantagens-item i {
    font-size: 2.2rem;
    color: var(--cor-secundaria);
  }

  .bloco {
    font-size: 1rem;
  }

  .section-localizacao h2 {
    align-items: center;
  }

  .bloco-localizacao {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .texto-localizacao h4 {
    font-size: 1rem;
  }

  .contact-left {
    padding: 5rem;
    height: 800px;
  }

  .contact-left h2 {
    font-size: 2rem;
  }

  .contact-inputs::placeholder {
    font-size: 0.7rem;
  }

  .contact-inputs {
    width: 250px;
    align-items: flex-start;
  }

  .contact-left {
    width: 100%;
    max-width: 350px;
  }

  .contact-right img {
    display: none;
  }
}
